
<div class="container">
    <h3>{{content.title}}</h3>
    <img class="ml-3" src="{{content.image}}"/>
    <p class="bolt">{{content.description}}</p>
    <a href="/content/edit/{{content.id}}">Edit</a>
</div>

